<section *ngIf="!unlockTestAnswer" class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <i class="material-icons">arrow_drop_up</i><span>-</span><i class="material-icons">arrow_drop_down</i><span>-</span><i class="material-icons">arrow_left</i><span>-</span><i class="material-icons">arrow_right</i>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>What's the code ?</mat-label>
        <input matInput placeholder="Secret..." [(ngModel)]="secret" (ngModelChange)="unlock()" [disabled]="secretHint === 'Congratulations!'" />
        <mat-hint>{{secretHint}}</mat-hint>
      </mat-form-field>
      <br /><br />
      <button mat-raised-button color="primary" (click)="unlockTestAnswer = true" [disabled]="secretHint === 'Congratulations!'">Skip</button>
    </div>
  </div>
</section>
<section *ngIf="unlockTestAnswer" class="container">
  <div class="box">
    <div class="row">
      <div class="col-sm-4 col-12 text-center input">
        <p>Amount (£)</p>
        <input currencyMask [(ngModel)]="amount" [options]="amountOptions" (ngModelChange)="calculateRepayments()" />
      </div>
      <div class="col-sm-4 col-12 text-center input">
        <p>Duration (months)</p>
        <input [(ngModel)]="months" (ngModelChange)="calculateRepayments()" />
      </div>
      <div class="col-sm-4 col-12 text-center input">
        <p>Rate (%)</p>
        <input currencyMask [(ngModel)]="rate" [options]="rateOptions" (ngModelChange)="calculateRepayments()" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table mat-table [dataSource]="tableData">
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
            <td mat-footer-cell *matFooterCellDef> Total repayments </td>
          </ng-container>
          <ng-container matColumnDef="originalLoan">
            <th mat-header-cell *matHeaderCellDef> Original loan </th>
            <td mat-cell *matCellDef="let element"> {{element.originalLoan | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('originalLoan') | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
          </ng-container>
          <ng-container matColumnDef="interest">
            <th mat-header-cell *matHeaderCellDef> Interest </th>
            <td mat-cell *matCellDef="let element"> {{element.interest | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('interest') | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
          </ng-container>
          <ng-container matColumnDef="monthlyRepayment">
            <th mat-header-cell *matHeaderCellDef> Monthly repayment </th>
            <td mat-cell *matCellDef="let element"> {{element.monthlyRepayment | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('monthlyRepayment') | currency : 'GBP' : 'symbol' : '1.0-0'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
          <tr mat-footer-row *matFooterRowDef="tableHeaders"></tr>
        </table>
      </div>
    </div>
  </div>
</section>
